/* Reset browser styles */
/* BEGIN RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

a img {
  border: none; }

/* END RESET*/
/* Utility css classes */
/* START UTILITY STYLES*/
/* @link https://utopia.fyi/type/calculator?c=300,11,1.2,1800,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--2: clamp(0.48rem, calc(0.45rem + 0.17vw), 0.63rem);
  --step--1: clamp(0.57rem, calc(0.52rem + 0.29vw), 0.84rem);
  --step-0: clamp(0.69rem, calc(0.60rem + 0.47vw), 1.13rem);
  --step-1: clamp(0.83rem, calc(0.69rem + 0.72vw), 1.50rem);
  --step-2: clamp(0.99rem, calc(0.79rem + 1.08vw), 2.00rem);
  --step-3: clamp(1.19rem, calc(0.89rem + 1.57vw), 2.66rem);
  --step-4: clamp(1.43rem, calc(1.00rem + 2.27vw), 3.55rem);
  --step-5: clamp(1.71rem, calc(1.11rem + 3.23vw), 4.74rem); }

.flex {
  display: flex;
  gap: var(--gap, 3rem); }

.sr-only:not(:focus):not(:active) {
  /* clip: rect(0 0 0 0); */
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important; }

.high-l1 {
  color: #8B5DF5; }

.high-l2 {
  color: #4FDA55; }

.grid-col-span-2 {
  grid-column: span 2; }

/* END UTILITY STYLES*/
/* Global style*/
/* START GLOBAL STYLES*/
body {
  font-family: 'JetbrainsMono',monospace, helvetica, arial, sans;
  background-color: #174ea6;
  color: snow;
  overflow-x: hidden; }

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 250px); }

a:link, a:visited {
  color: snow; }

/* END GLOBAL STYLES*/
/* Navigation bar style */
/*START HEADER STYLES*/
.header-logo {
  margin: 2rem; }

.header {
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  position: sticky;
  top: 0;
  /* view in _utility.scss */
  font-size: var(--step-1); }

nav ul > li:hover {
  font-weight: 700; }

.mobile-nav-toggle {
  display: none; }

.header-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  background: black; }

@supports (backdrop-filter: blur(1rem)) or (-webkit-backdrop-filter: blur(1rem)) {
  .header-nav {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem); } }
@media (max-width: 899px) {
  .header-nav {
    --gap:4em;
    position: fixed;
    z-index: 90;
    inset: 0 0 0 55%;
    flex-direction: column;
    padding: min(30vh, 10rem) min(2em, 1vw);
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    font-size: var(--step-2); }

  .header-nav[data-visible="true"] {
    transform: translateX(0%); }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 1000;
    background-color: transparent;
    background-image: url(../assets/svg/menu-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    padding: 1.5em;
    right: 2rem; }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../assets/svg/close-x-svgrepo-com.svg); } }
@media (min-width: 900px) and (max-width: 1199px) {
  .header-nav a > span[aria-hidden] {
    display: none; }

  .header-nav {
    font-size: var(--step-2); } }
@media (min-width: 900px) {
  .header-nav {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 1vmax, 7rem); } }
.header-nav a {
  text-decoration: none; }

.header-nav a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75em; }

/*END HEADER STYLES*/
/*Home section style*/
/*START HOME SECTION STYLES*/
.home-div {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 2rem;
  align-items: center;
  justify-items: center;
  font-weight: 500;
  margin-top: 12vw;
  margin-bottom: 15vw; }

.home-socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem; }

.home-socials-text {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: max(1.2vmax, 1em, 1rem); }

.home-socials-text:hover {
  font-weight: 700; }

/*TO REMOVE*/
.home-bot {
  padding: 5rem;
  border: 2px solid green; }

/*  */
.home-top-text {
  font-weight: 700; }

.home-text-greeting {
  font-weight: 800;
  font-size: max(4vmax, 2em, 2rem);
  margin-bottom: 0.5em;
  padding-left: 12vw; }

.home-text-motto {
  font-size: max(2.5vw, 1.25em, 1.25rem);
  padding-left: 15vw;
  margin-bottom: 0.8em; }

.home-bottom-text {
  font-weight: 500;
  padding-left: 25vw;
  padding-right: 22vw;
  font-size: max(1.5vmax, 1em, 1rem);
  text-align: justify;
  line-height: 1.5; }

@media (min-width: 80em) {
  .home-div {
    grid-template-columns: 1fr repeat(3, 2fr) 1fr;
    gap: 3rem; }

  .home-bot {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: span 2;
    padding: 10rem; }

  .home-text {
    grid-column-start: 3;
    grid-column-end: 6; }

  .home-socials {
    grid-column: 3 /5;
    grid-row-start: 2;
    padding: 0rem;
    padding-left: 6vw; }

  .home-bottom-text {
    padding-left: 6vw;
    padding-right: 13.75vw; }

  .home-text-motto {
    padding-left: 2.5vw; }

  .home-text-greeting {
    padding-right: 0;
    padding-left: 6vw; } }
/*SOCIAL SVGs*/
.github-svg {
  background-image: url(../assets/svg/github-142-svgrepo-com.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 1.5rem; }

.linkedin-svg {
  background-image: url(../assets/svg/linkedin-svgrepo-com.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 1.5rem; }

/*END HOME SECTION STYLES*/
/* Skills section style */
/*START SKILLS SECTION STYLES*/
.skills-div {
  margin-bottom: 15vw;
  padding-bottom: 15vw;
  /* to remove */ }

.skills-programming-text {
  grid-area: one; }

.skills-programming-icons {
  grid-area: two;
  justify-self: center; }

.skills-simulation-text {
  grid-area: three; }

.skills-simulation-icons {
  grid-area: four;
  justify-self: center; }

.skills-modeling-text {
  grid-area: five; }

.skills-modeling-icons {
  grid-area: six;
  justify-self: center; }

.skills-other-text {
  grid-area: seven; }

.skills-other-icons {
  grid-area: eight;
  justify-self: center; }

.skills-planet {
  grid-area: nine;
  justify-self: center; }

.skills-div {
  display: grid;
  margin-top: 15vw;
  gap: 2rem;
  grid-template-areas: 'one nine' 'two nine' 'three nine' 'four nine' 'five nine' 'six nine' 'seven nine' 'eight nine';
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-items: left;
  font-weight: 500;
  margin-left: 10vmax;
  margin-right: 10vmax; }

.skills-planet {
  padding: 12rem;
  border: 1px solid green; }

/*END SKILLS SECTION STYLES*/
