/* BEGIN RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
strong, b {
font-weight: bold;
}
em, i {font-style: italic;
}
a img {
border: none;
}
/* END RESET*/

/*GLOBAL STYLES*/
body {
 font-family: 'JetbrainsMono',monospace, helvetica, arial, sans;
 background-color: #174ea6;
 color:snow;
 overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a:link, a:visited {
  color:snow;
}

/*HEADER STYLES*/
.header-logo{
  margin: 2rem;
}
.header{
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: max(1.2vw, 1em, 1rem);
  position: sticky;
  top: 0;
}

nav ul>li:hover{
  font-weight: 700;
}

.mobile-nav-toggle{
  display: none;
}

.header-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(0, 0%, 0%, 0.5);
}

@supports (backdrop-filter: blur(1rem)) or (-webkit-backdrop-filter: blur(1rem)){
  .header-nav{
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
  }
}

@media (max-width: 65em){
  .header-nav{
    --gap:4em;
    position: fixed;
    z-index: 90;
    inset: 0 0 0 60%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .header-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 1000;
    background-color: transparent;
    background-image: url(../assets/svg/menu-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    padding: 1.5em;
    right:  2rem;
  }

  .mobile-nav-toggle[aria-expanded="true"]{
    background-image: url(../assets/svg/close-x-svgrepo-com.svg);

  }

}

@media (min-width: 65em) and (max-width: 80em){
  .header-nav a > span[aria-hidden]{
    display:none;
  }
}

@media (min-width: 65em){
  .header-nav{
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
  }

}

.header-nav  a{
  text-decoration: none;
}

.header-nav a > [aria-hidden="true"]{
  font-weight: 700;
  margin-inline-end: 0.75em;
}

.home-div{
    display: grid;
    grid-auto-columns: 1fr;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    font-weight: 500;
    margin-top: 10vw;
}

.home-socials{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.home-socials-text{
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: max(1.2vmax,1em,1rem);
}

.home-socials-text:hover{
    font-weight: 700;
  }

/*TO REMOVE*/
.home-bot{
  padding: 5rem;
  border: 2px solid green;
}
/*  */

.home-top-text{
  font-weight: 700;
}

.home-text-greeting{
  
  font-weight: 800;
  font-size: max(4vmax, 2em, 2rem);
  margin-bottom: 0.5em;
  padding-left: 12vw;
}

.home-text-motto{
  font-size: max(2.5vw, 1.25em, 1.25rem);
  padding-left: 15vw;
  margin-bottom: 0.8em;
}

.home-bottom-text{
  font-weight: 500;
  padding-left: 25vw;
  padding-right: 22vw;
  font-size: max(1.5vmax, 1em, 1rem);
  text-align: justify;
  line-height: 1.5;
}

@media (min-width: 80em){

  .home-div{
    grid-template-columns: 1fr repeat(3,2fr) 1fr;
    gap: 3rem;
  }
  .home-bot{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: span 2;
    padding: 10rem;
  }
  .home-text{
    grid-column-start: 3;
    grid-column-end: 6;
  }

  .home-socials{
    grid-column: 3 /5;
    grid-row-start: 2;
    padding: 0rem;
    padding-left: 6vw;
  }

  .home-bottom-text{
    padding-left: 6vw;
    padding-right: 13.75vw;
  }

  .home-text-motto{
    padding-left: 2.5vw;
  }

  .home-text-greeting{
    padding-right: 0;
    padding-left: 6vw;
  }
}

/*SOCIAL SVGs*/
.github-svg{
  background-image: url(../assets/svg/github-142-svgrepo-com.svg);
  background-position: center; 
  background-size: contain; 
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 1.5rem;
  
}
.linkedin-svg{
  background-image: url(../assets/svg/linkedin-svgrepo-com.svg);
  background-position: center; 
  background-size: contain; 
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 1.5rem;
}
/*UTILITY STYLES*/
.flex{
  display: flex;
  gap: var(--gap, 3rem);
}

.sr-only:not(:focus):not(:active) {
  /* clip: rect(0 0 0 0); */ 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.high-l1{
  color: #8B5DF5;
}

.high-l2{
  color: #4FDA55;
}

.grid-col-span-2{
  grid-column: span 2;
}