/* Reset browser styles */
/* BEGIN RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

a img {
  border: none; }

/* a:hover, a:active, a:focus {
    outline: none;
    border: 0;
} */
/* END RESET*/
/* Utility css classes */
/* START UTILITY STYLES*/
/* @link https://utopia.fyi/type/calculator?c=300,11,1.2,1800,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--2: clamp(0.48rem, calc(0.45rem + 0.17vw), 0.63rem);
  --step--1: clamp(0.57rem, calc(0.52rem + 0.29vw), 0.84rem);
  --step-0: clamp(0.69rem, calc(0.60rem + 0.47vw), 1.13rem);
  --step-1: clamp(0.83rem, calc(0.69rem + 0.72vw), 1.50rem);
  --step-2: clamp(0.99rem, calc(0.79rem + 1.08vw), 2.00rem);
  --step-3: clamp(1.19rem, calc(0.89rem + 1.57vw), 2.66rem);
  --step-4: clamp(1.43rem, calc(1.00rem + 2.27vw), 3.55rem);
  --step-5: clamp(1.71rem, calc(1.11rem + 3.23vw), 4.74rem);
  --step-6: clamp(2.05rem, calc(1.20rem + 4.54vw), 6.31rem);
  --step-7: clamp(2.46rem, calc(1.27rem + 6.35vw), 8.41rem);
  /* 2.46 1.27 6.35*/ }

.flex {
  display: flex;
  gap: var(--gap, 3rem); }

.sr-only:not(:focus):not(:active) {
  /* clip: rect(0 0 0 0); */
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important; }

.high-l1 {
  color: #8B5DF5; }

.high-l2 {
  color: #4FDA55; }

.grid-col-span-2 {
  grid-column: span 2; }

/* END UTILITY STYLES*/
/* Global style*/
/* START GLOBAL STYLES*/
body {
  font-family: 'JetbrainsMono',monospace, helvetica, arial, sans;
  background-color: #174ea6;
  color: snow;
  overflow-x: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px; }

/* section{
     min-width: 300px;
} */
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 250px);
  /*      min-height: 500%; */
  max-width: 1920px;
  display: flex;
  flex-direction: column; }

a,
a:visited {
  color: snow;
  font-weight: 500; }

a:hover {
  font-weight: 700; }

.content {
  display: grid;
  grid-template-rows: max-content max-content max-content 1fr;
  margin-left: clamp(7.5vw, 1.35vw, 1vw);
  margin-right: clamp(7.5vw, 1.35vw, 1vw);
  flex: 1;
  row-gap: 10vh; }

#Home {
  grid-row: 1 / 2; }

#About {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: max-content max-content;
  row-gap: 10vh; }

#Skills {
  place-self: center; }

#Experience {
  grid-row: 3 / 4; }

#Contact {
  grid-row: 4 / 5; }

/* END GLOBAL STYLES*/
/* Navigation bar style */
/*START HEADER STYLES*/
.header {
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  position: sticky;
  z-index: 90;
  top: 0;
  /* view in _utility.scss */
  font-size: var(--step-1); }

nav ul > li:hover {
  font-weight: 700; }

.mobile-nav-toggle {
  display: none; }

.header-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  background: black; }
  @supports (backdrop-filter: blur(1rem)) or (-webkit-backdrop-filter: blur(1rem)) {
    .header-nav {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(1rem);
      -webkit-backdrop-filter: blur(1rem); } }

@media (max-width: 899px) {
  .header-nav {
    --gap:4em;
    position: fixed;
    inset: 0 0 0 55%;
    flex-direction: column;
    padding: min(30vh, 10rem) min(2em, 1vw);
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    font-size: var(--step-2); }

  .header-nav[data-visible="true"] {
    transform: translateX(0%); }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 1000;
    background-color: transparent;
    background-image: url(../assets/svg/menu-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    padding: 1.5em;
    right: 2rem; }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../assets/svg/close-x-svgrepo-com.svg); } }
@media (min-width: 900px) and (max-width: 1199px) {
  .header-nav a > span[aria-hidden] {
    display: none; }

  .header-nav {
    font-size: var(--step-2); } }
@media (min-width: 900px) {
  .header-nav {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 10vw, 7rem); } }
.header-nav a {
  text-decoration: none; }

.header-nav a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: min(0.2em, 0.3rem); }

.header-nav a[active="true"] span.header-space {
  background-color: snow;
  animation: blinking 0.8s linear infinite;
  animation-fill-mode: both; }

/*   .header-nav .header-dropdown-option ul a[active="true"] span.header-space{

    animation-delay:0.4s;

  } */
@keyframes blinking {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.header-dropdown-option ul {
  list-style: none;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 1vmax;
  padding-inline: 1vmax;
  font-weight: 500;
  border-radius: 0.8vmax; }

.header-dropdown-option:hover > ul,
.header-dropdown-option:focus-within > ul,
.header-dropdown-option:active > ul,
.header-dropdown-option:target > ul {
  display: flex; }

@media (min-width: 900px) {
  .header-dropdown-option ul {
    font-size: --step-0;
    background: black; }
    @supports (backdrop-filter: blur(1rem)) or (-webkit-backdrop-filter: blur(1rem)) {
      .header-dropdown-option ul {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem); } } }
/*LOGO SVG*/
.header-logo {
  background-image: url(../assets/svg/Caybara-Logo.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  margin: 2rem;
  text-decoration: none; }

/*END HEADER STYLES*/
/*Home section style*/
/*START HOME SECTION STYLES*/
.home-div {
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 1fr;
  grid-template-rows: 2.5fr 0.1fr 1fr;
  /*   height: 100%; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: var(--step-3); }

.home-socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  text-align: center;
  justify-content: space-evenly;
  font-size: var(--step-2);
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5; }

/*TO REMOVE*/
.home-robot {
  height: 0;
  width: 80%;
  padding-bottom: 80%;
  background-color: rgba(0, 85, 255, 0.284);
  z-index: -1;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: center;
  justify-self: center; }

/*  */
.home-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 7rem;
  letter-spacing: -0.05em;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 5;
  align-self: center;
  display: grid;
  grid-template-rows: 4fr 2fr 2fr;
  height: 100%; }

.home-text-greeting {
  font-size: var(--step-6);
  font-weight: 800;
  line-height: 1.1;
  align-self: last baseline; }

.home-text-motto {
  font-size: var(--step-4);
  font-weight: 700;
  line-height: 1.2;
  justify-self: end; }

.home-bottom-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: var(--step-2);
  font-weight: 500;
  line-height: 1.3;
  text-align: justify;
  letter-spacing: -0.02em;
  padding-inline: 10%; }
  @supports (text-justify: inter-word) {
    .home-bottom-text {
      text-justify: inter-word; } }

/*SOCIAL SVGs*/
.github-svg {
  background-image: url(../assets/svg/github-142-svgrepo-com.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 1.3rem; }

.linkedin-svg {
  background-image: url(../assets/svg/linkedin-svgrepo-com.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 1.5rem; }

/* DOWN SVG */
.down-svg {
  background-image: url(../assets/svg/down-arrow-4-svgrepo-com.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 1rem;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  place-self: center; }

.down-svg a {
  text-decoration: none; }

/*END HOME SECTION STYLES*/
/* Skills section style */
/*START SKILLS SECTION STYLES*/
.skills-programming-text {
  grid-area: one;
  font-size: var(--step-2); }

.skills-programming-icons {
  grid-area: two;
  justify-self: center; }

.skills-simulation-text {
  grid-area: three;
  font-size: var(--step-2); }

.skills-simulation-icons {
  grid-area: four;
  justify-self: center; }

.skills-modeling-text {
  grid-area: five;
  font-size: var(--step-2); }

.skills-modeling-icons {
  grid-area: six;
  justify-self: center; }

.skills-other-text {
  grid-area: seven;
  font-size: var(--step-2); }

.skills-other-icons {
  grid-area: eight;
  justify-self: center; }

.skills-planet {
  grid-area: nine;
  justify-self: center; }

.skills-div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  gap: 2rem;
  grid-template-areas: 'one nine' 'two nine' 'three nine' 'four nine' 'five nine' 'six nine' 'seven nine' 'eight nine';
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-items: left;
  font-weight: 500;
  font-size: var(--step-0);
  height: 50%; }

.skills-planet {
  height: 0;
  width: 80%;
  padding-bottom: 80%;
  background-color: rgba(0, 85, 255, 0.284); }

/*END SKILLS SECTION STYLES*/
/* Education section style */
.education-container {
  display: grid;
  justify-items: center;
  align-items: center;
  /* flex-wrap: wrap */
  /*     grid-template-columns: minmax(75px,1fr) minmax(75px,1fr); */
  grid-template-rows: minmax(100px, 150px) minmax(100px, 150px) minmax(100px, 150px) minmax(100px, 150px) minmax(100px, 150px) minmax(100px, 150px) minmax(100px, 150px);
  /*     overflow-x: scroll; */
  column-gap: 1vw; }

.timeline-card {
  position: relative;
  /*     width: 320px; */
  height: 90%;
  aspect-ratio: 0.7111;
  background: #287bff;
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: 0 7px 0 #fff, inset 0 -5px 0 rgba(255, 255, 255, 0.25), 0 19px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  @media (max-width: 899px) {
    .timeline-card {
      height: 70%; } }

.timeline-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(to bottom, #ff2ae0, #645bf6, #f321d7);
  transition: transform 3s;
  z-index: -2; }

.timeline-card:hover::before {
  transform: translateY(-50%); }

.timeline-card:hover, .timeline-card:active {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes floating {
  0% {
    transform: translate(0, 0px); }
  50% {
    transform: translate(0, -15px); }
  100% {
    transform: translate(0, 0px); } }
.timeline-card-icon {
  /*     width: 140px; */
  height: 26.667%;
  aspect-ratio: 1.167;
  background: #174ea6;
  position: relative;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1), inset 0 -4px 0 #fff;
  z-index: 1;
  display: flex;
  justify-content: center; }

.timeline-card-icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #174ea6; }

.timeline-card-icon::after {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px #174ea6; }

.timeline-card-icon .ist-logo {
  position: relative;
  z-index: 2;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 2.5rem;
  background-image: url(../assets/svg/tecnico_logo.svg); }
  @media (max-width: 899px) {
    .timeline-card-icon .ist-logo {
      padding: 2rem; } }

.timeline-card-icon .iefp-logo {
  position: relative;
  z-index: 2;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 2.5rem;
  background-image: url(../assets/svg/iefp_logo.svg); }
  @media (max-width: 899px) {
    .timeline-card-icon .iefp-logo {
      padding: 2rem; } }

.education-bachelor {
  grid-column: 1 / 2;
  grid-row: 1 / 4; }

.education-bachelor::before {
  background: linear-gradient(to bottom, #879AF2, #D3208B, #FDA000); }

.education-bachelor:hover {
  box-shadow: 0 7px 0 #fff, inset 0 -5px 0 rgba(255, 255, 255, 0.25), 0 25px 25px #fda0008a; }

.education-master {
  grid-column: 2 / 3;
  grid-row: 3 / 6; }

.education-master::before {
  background: linear-gradient(to bottom, #2646BE, #A682FB, #FFC7A6); }

.education-master:hover {
  box-shadow: 0 7px 0 #fff, inset 0 -5px 0 rgba(255, 255, 255, 0.25), 0 25px 25px #ffc7a696; }

.education-iefp {
  grid-column: 1 / 2;
  grid-row: 5 / 8; }

.education-iefp::before {
  background: linear-gradient(to bottom, #574BCD, #299A9D, #41E975); }

.education-iefp:hover {
  box-shadow: 0 7px 0 #fff, inset 0 -5px 0 rgba(255, 255, 255, 0.25), 0 25px 25px #41e97689; }

.timeline-card-content {
  position: absolute;
  aspect-ratio: 1.167;
  width: 100%;
  padding: 30px;
  padding-top: 125px;
  display: grid;
  grid-template-rows: 0.5fr 0.65fr min-content 0.75fr min-content;
  row-gap: 3%; }
  @media (max-width: 1199px) {
    .timeline-card-content {
      row-gap: 1%;
      grid-template-rows: 0.5fr 0.65fr min-content 0.75fr 0.5fr; } }

.education-time-interval {
  font-size: calc(var(--step--1) + 2px);
  font-weight: 500;
  text-align: center; }

.education-degree {
  font-size: var(--step-0);
  font-weight: 600;
  text-align: center; }

.education-course, .education-specialization {
  font-size: var(--step-0);
  font-weight: 500;
  text-align: center; }

.education-specialization {
  font-weight: 600; }

.education-institution {
  font-size: var(--step-0);
  font-weight: 700;
  text-align: center; }
