
    :root {
        --size-divisor: 1;
      }


.contact-div{
    box-sizing: border-box;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "socials form form";
    justify-items: center;
    padding-top: 5%;
    padding-bottom: 6%;
}

@include for-tablet-landscape-down {

    .contact-div{
        grid-template-areas: "socials socials socials" "form form form";
        row-gap: 5%;
        padding-bottom: 12%;
    }
    .contact-div .contact-socials{
        grid-template-rows: 50px 50px 50px;
    }
}
.contact-div .contact-socials{
    grid-area: socials;
    display: grid;
    height: 100%;
    width: 100%;
    font-size: var(--step-1);
    align-self: center;
    grid-template-areas: "mail mail mail" "linkedin linkedin linkedin" "github github github";
    @include for-tablet-landscape-down{
        grid-template-areas: "github github github" "linkedin linkedin linkedin" "mail mail mail";
    }
    grid-auto-rows: auto;
    justify-items: center;
    align-items: center;
}

.contact-div .contact-socials .email-contact{
    grid-area: mail;
}
.contact-div .contact-socials .github-contact{
    grid-area: github;
}
.contact-div .contact-socials .linkedin-contact{
    grid-area: linkedin;
}

.contact-form{
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "header header header" "body body body";
    border: calc(1px / var(--size-divisor)) solid rgb(0, 0, 0);
    background-color: #8B5DF5;
    margin: 0 auto;
    box-shadow: calc(-0.6rem / var(--size-divisor)) calc(0.6rem / var(--size-divisor)) 0 #bab0d396;
    align-self: center;
    grid-area: form;
    border-radius: 10px;
}

.form-header {
    box-sizing: border-box;
    color: #4FDA55;
    text-shadow:3px 0 0 rgb(0, 0, 0),0 3px 0 rgb(0, 0, 0),-3px 0 0 rgb(0, 0, 0),0 -3px 0 rgb(0, 0, 0);
    text-align: center;
    padding: calc(8px / var(--size-divisor));
    font-size: var(--step-2-5);
    font-weight: 800;
    border-bottom: calc(1px / var(--size-divisor)) solid black;
    grid-area: header;
    }

.form-body {
    box-sizing: border-box;
    padding: calc(20px / var(--size-divisor));
    font-size: var(--step-1);
    grid-area: body;

    display: grid;
    grid-template-areas: "email" "message" "submit";
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: minmax(250px, 800px);

}

.form-body-email{
    grid-area: email;
    font-size: var(--step-0-5);
}
.form-body-message{
    grid-area: message;
    box-sizing: border-box;
    margin-top: calc(10px / var(--size-divisor));
    font-size: var(--step-0-5);
    resize:vertical;
    min-height: 100px;
    max-height: 400px; 
}

.form-body input, .form-body button, .form-body textarea{
    border: calc(2px / var(--size-divisor)) solid rgba(0, 0, 0, 0.6);
    background-image:none;
    background-color: #dadad3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: calc(5px / var(--size-divisor));
    &:focus {
        outline: none;
    }
}

.form-body-submit{
    width: 15%;
    @include for-phone-only{
        width:20%;
    }
    grid-area: submit;
    margin-top: calc(10px / var(--size-divisor));
    font-size: var(--step-1-5);
    cursor: pointer;
    font-weight: 400;
    justify-self: right;
    box-shadow: 10px 10px 8px 10px #070707;
    transform: translateX(0) translateY(0);
    color: black;

}
.form-body button{
    -webkit-box-shadow: calc(-0.3rem / var(--size-divisor)) calc(0.3rem / var(--size-divisor)) 0 #bab0d396;
    -moz-box-shadow: calc(-0.3rem / var(--size-divisor)) calc(0.3rem / var(--size-divisor)) 0 #bab0d396;
    box-shadow: calc(-0.3rem / var(--size-divisor)) calc(0.3rem / var(--size-divisor)) 0 #bab0d396;
    transform: translateX(0) translateY(0);
    color: black;
}

.form-body-submit:hover{
    background-color: #c9c9c2;
    transform: translateX(0) translateY(0);
}
.form-body-submit:active{
    background: #d6d6d6;
    outline: none;
    -webkit-box-shadow: calc(-0.5rem / var(--size-divisor)) calc(0.5rem / var(--size-divisor)) 0 #bab0d396;
    -moz-box-shadow: calc(-0.5rem / var(--size-divisor)) calc(0.5rem / var(--size-divisor)) 0 #bab0d396;
    box-shadow: calc(-0.5rem / var(--size-divisor)) calc(0.5rem / var(--size-divisor)) 0 #bab0d396;
    transform: translateX(0.2rem) translateY(-0.2rem);

}

.mail-svg {
    background-image: url(../assets/svg/email-svgrepo-com.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    padding: 1.5rem;
  }