.education-container {
    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-columns: 1fr 0.25fr 1fr;
    grid-template-rows: minmax(100px,150px) minmax(100px,150px) minmax(100px,150px) minmax(100px,150px) minmax(100px,150px) minmax(100px,150px) minmax(100px,150px);

    column-gap: 1vmin;
}

.timeline-card {
    position: relative;
/*     width: 320px; */
    height: 100%;
    width: 40%;
    min-width: 320px;
/*     aspect-ratio: 0.7111; */
    background: #000;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 7px 0 #fff,
        inset 0 -5px 0 rgba(255, 255, 255, 0.25),
        0 19px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
}

.timeline-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(to bottom,
            #ff2ae0,
            #645bf6,
            #f321d7);
    transition: transform 3s;
    z-index: -2;
}

.timeline-card:hover::before, .timeline-card.animate::before {
    transform: translateY(-50%);
}
.timeline-card:hover, .timeline-card.animate{
    animation-play-state: running;
}

@keyframes floating {
    0% { transform: translate(0,  -0px); }
    50%  { transform: translate(0, -15px); }
    100%   { transform: translate(0, 0px); }  
}

.timeline-card-icon {
/*     width: 140px; */
    height: 26.667%;
    width: 45%;
/*     aspect-ratio: 1.167; */
    background: #000;
    position: relative;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1),
        inset 0 -4px 0 #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.timeline-card-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 15px -15px 0 15px #000;
}

.timeline-card-icon::after {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: -15px -15px 0 15px #000;
}

.timeline-card-icon .ist-logo{
    
    @include timeline-card-logo();
    background-image: url(../assets/svg/tecnico_logo.svg);

}
.timeline-card-icon .iefp-logo{
    
    @include timeline-card-logo();
    background-image: url(../assets/svg/iefp_logo.svg);

}

@include for-tablet-landscape-down{
    .timeline-card{
        width:55%;
        height: 75%;
        min-width: 250px;
    }
}
@include for-phone-only{
    .education-container{
        grid-template-columns: 1fr 0.9fr 1fr;
    }
    .timeline-card{
        width:75%;
        height: 60%;
        min-width: 190px;
    }
.timeline-card-icon{
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
    } 
}

.education-bachelor{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}
.education-bachelor::before{
    background: linear-gradient(to bottom,
    #879AF2,
    #D3208B,
    #FDA000);
}
.education-bachelor:hover, .education-bachelor.animate{

    box-shadow:
    0 7px 0 #fff,
    inset 0 -5px 0 rgba(255, 255, 255, 0.25),
    0 25px 25px #fda0008a;

}

.education-master{
    grid-column: 2 / 4;
    grid-row: 3 / 6;
}
.education-master::before{
    background: linear-gradient(to bottom,
    #2646BE,
    #A682FB,
    #FFC7A6);
}
.education-master:hover, .education-master.animate{
    box-shadow:
    0 7px 0 #fff,
    inset 0 -5px 0 rgba(255, 255, 255, 0.25),
    0 25px 25px #ffc7a696;
}
.education-iefp{
    grid-column: 1 / 3;
    grid-row: 5 / 8;
}
.education-iefp::before{
    background: linear-gradient(to bottom,
    #574BCD,
    #299A9D,
    #41E975);
}
.education-iefp:hover, .education-iefp.animate{
    box-shadow:
    0 7px 0 #fff,
    inset 0 -5px 0 rgba(255, 255, 255, 0.25),
    0 25px 25px #41e97689;
}

.timeline-card-content{
    position: absolute;
    /* aspect-ratio: 1.167; */
    height:50%;
    width: 100%;
    align-self:flex-end;
    padding-bottom: clamp(50px,25%,70px);
    display: grid;
    grid-template-rows: 0.5fr 0.65fr min-content 0.75fr min-content;
    
    row-gap: clamp(3%, 2vmin,10%);
}
@include for-tablet-landscape-down{
   .timeline-card-content{
    padding-bottom: clamp(50px,20%,60px);
    grid-template-rows: 2fr 2fr 1fr 1.5fr 1fr;
   }
}

@include for-phone-only{
    .timeline-card-content{
        padding-bottom: clamp(30px,15%,50px);
       }
}
.education-time-interval{
    font-size: calc(var(--step--1) + 2px);
    font-weight: 500;
    text-align: center;
    grid-row: 1 / 2;
    vertical-align: top;
    padding-left: min(3vw,50px);
    padding-right: min(3vw,50px);
}

.education-degree{
    font-size: var(--step-0);
    font-weight: 600;
    text-align: center;
    grid-row: 3 / 4;
    vertical-align: top;
    padding-left: min(3vw,50px);
    padding-right: min(3vw,50px);
}

.education-course, .education-specialization{
    font-size: var(--step-0);
    font-weight: 500;
    text-align: center;
    vertical-align: top;
    padding-left: min(3vw,50px);
    padding-right: min(3vw,50px);
}

.education-course{
    grid-row: 4 / 5 ;
}

.education-specialization{
    font-weight: 600;
    grid-row: 5 / 6;
}

.education-institution{
    font-size: var(--step-0);
    font-weight: 700;
    text-align: center;
    grid-row: 2 / 3;
    vertical-align: top;
    padding-left: min(3vw,50px);
    padding-right: min(3vw,50px);
}

/* DOWN SVG */
.education-container .down-svg{
    grid-row: 7 / 8;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: last baseline;
  }