.education-container {
    display: grid;
    justify-items: center;
    align-items: center;
    /* flex-wrap: wrap */;
/*     grid-template-columns: minmax(75px,1fr) minmax(75px,1fr); */
    grid-template-rows: minmax(100px,150px) minmax(100px,150px) minmax(100px,150px) minmax(100px,150px) minmax(100px,150px) minmax(100px,150px) minmax(100px,150px);
/*     overflow-x: scroll; */
    column-gap: 1vw;
}

.timeline-card {
    position: relative;
/*     width: 320px; */
    height: 90%;
    @include for-tablet-portrait-down{
        height: 70%;
    }
    aspect-ratio: 0.7111;
    background: #287bff;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 7px 0 #fff,
        inset 0 -5px 0 rgba(255, 255, 255, 0.25),
        0 19px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.timeline-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(to bottom,
            #ff2ae0,
            #645bf6,
            #f321d7);
    transition: transform 3s;
    z-index: -2;
}

.timeline-card:hover::before {
    transform: translateY(-50%);
}
.timeline-card:hover{
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  -0px); }
    50%  { transform: translate(0, -15px); }
    100%   { transform: translate(0, 0px); }  
}

.timeline-card-icon {
/*     width: 140px; */
    height: 26.667%;
    aspect-ratio: 1.167;
    background: #174ea6;
    position: relative;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1),
        inset 0 -4px 0 #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.timeline-card-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 15px -15px 0 15px #174ea6;
}

.timeline-card-icon::after {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: -15px -15px 0 15px #174ea6;
}

.timeline-card-icon .ist-logo{
    
    @include timeline-card-logo($padding:2.5rem);
    background-image: url(../assets/svg/tecnico_logo.svg);

}
.timeline-card-icon .iefp-logo{
    
    @include timeline-card-logo;
    background-image: url(../assets/svg/iefp_logo.svg);

}

.education-bachelor{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}
.education-bachelor::before{
    background: linear-gradient(to bottom,
    #879AF2,
    #D3208B,
    #FDA000);
}
.education-bachelor:hover{

    box-shadow:
    0 7px 0 #fff,
    inset 0 -5px 0 rgba(255, 255, 255, 0.25),
    0 25px 25px #fda0008a;

}

.education-master{
    grid-column: 2 / 3;
    grid-row: 3 / 6;
}
.education-master::before{
    background: linear-gradient(to bottom,
    #2646BE,
    #A682FB,
    #FFC7A6);
}
.education-master:hover{
    box-shadow:
    0 7px 0 #fff,
    inset 0 -5px 0 rgba(255, 255, 255, 0.25),
    0 25px 25px #ffc7a696;
}
.education-iefp{
    grid-column: 1 / 2;
    grid-row: 5 / 8;
}
.education-iefp::before{
    background: linear-gradient(to bottom,
    #574BCD,
    #299A9D,
    #41E975);
}
.education-iefp:hover{
    box-shadow:
    0 7px 0 #fff,
    inset 0 -5px 0 rgba(255, 255, 255, 0.25),
    0 25px 25px #41e97689;
}

.timeline-card-content{
    position: absolute;
    aspect-ratio: 1.167;
    width: 100%;
    padding: 30px;
    padding-top: 125px;

    display: grid;
    grid-template-rows: 0.5fr 0.65fr min-content 0.75fr min-content;
    row-gap: 3%;
    @include for-tablet-landscape-down{
        row-gap: 1%;
        grid-template-rows: 0.5fr 0.65fr min-content 0.75fr 0.5fr;
    }
}

.education-time-interval{
    font-size: calc(var(--step--1) + 2px);
    font-weight: 500;
    text-align: center;
}

.education-degree{
    font-size: var(--step-0);
    font-weight: 600;
    text-align: center;
}

.education-course, .education-specialization{
    font-size: var(--step-0);
    font-weight: 500;
    text-align: center;
}
.education-specialization{
    font-weight: 600;
}

.education-institution{
    font-size: var(--step-0);
    font-weight: 700;
    text-align: center;
}