/* START GLOBAL STYLES*/
body {
    font-family: 'JetbrainsMono',monospace, helvetica, arial, sans;
    background-color: #174ea6;
    color:snow;
    overflow-x: hidden;
   }
   
   html {
     scroll-behavior: smooth;
   }
   
   a:link, a:visited {
     color:snow;
   }
   /* END GLOBAL STYLES*/