/* START GLOBAL STYLES*/
body {
    font-family: 'JetbrainsMono',monospace, helvetica, arial, sans;
    background-color: #174ea6;
    color:snow;
    overflow-x: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 300px;
   }

/* section{
     min-width: 300px;
} */
   
html {
     scroll-behavior: smooth;
     scroll-padding-top: var(--scroll-padding, 250px);
/*      min-height: 500%; */
     max-width: 1920px;
     display: flex;
     flex-direction: column;
}
 a,  
 a:visited {
     color:snow;
     font-weight: 500;
}
a:hover{
     font-weight: 700;
}

.content{
     display: grid;
     grid-template-rows:max-content max-content max-content 200px;
     grid-template-columns: clamp(13px,3.5vw, 100px) clamp(13px,3.5vw, 100px) 1fr clamp(12px,3.5vw, 100px) clamp(12px,3.5vw, 100px);
     flex: 1;
     row-gap: min(15vh,250px);
}

.section-title{
     font-size: var(--step-3);
     text-transform: uppercase;
     letter-spacing: -0.05em;
     place-self: center;
     font-weight: 700;
}

.sub-section-title{
     font-size: var(--step-2);
     text-transform: uppercase;
     letter-spacing: -0.02em;
     justify-self: right;
     align-self: center;
     font-weight: 600;
}

#Home{
     
     grid-row: 1 / 2;
     grid-column: 3 / 4;
}
#About{
     grid-row: 2 / 3;
     grid-column: 2 / 5;
     display: grid;
     grid-template-columns: clamp(12px,3.5vw, 100px) 1fr clamp(12px,3.5vw, 100px);
     grid-template-rows: clamp(50px, 7vh, 90px) max-content max-content;
     
}

#About>.section-title{
     grid-row: 1 / 2;
     grid-column: 2 / 3;
}
#Skills{
     grid-row: 2 / 3;
     grid-column: 2 / 3;
     display: grid;
     grid-template-rows: clamp(75px, 11vh, 140px) max-content;
}

#Education{
     grid-row: 3 / 4;
     grid-column: 2 / 3;
     display: grid;
     grid-template-rows: clamp(75px, 11vh, 140px) max-content;
}
#Experience{
     
     grid-row: 3 / 4;
     grid-column: 2 / 5;
     display: grid;
     grid-template-columns: clamp(12px,3.5vw, 100px) 1fr clamp(12px,3.5vw, 100px);
     grid-template-rows: clamp(50px, 7vh, 90px) max-content max-content;
}
#Experience>.section-title{
     grid-row: 1 / 2;
     grid-column: 2 / 3;
}
#Work{
     grid-row: 3 /4;
     grid-column: 2 / 3;
     display: grid;
     grid-template-rows: clamp(75px, 11vh, 140px) max-content;
}
#Projects{
     grid-row: 5 / 6;
     grid-column: 2 / 3;
     display: grid;
     grid-template-rows: clamp(75px, 11vh, 140px) max-content;

}

#Contact{
     
     grid-row: 4 / 5;
     grid-column: 3 / 4;
     display: grid;
     grid-template-columns: clamp(12px,3.5vw, 100px) 1fr clamp(12px,3.5vw, 100px);
     grid-template-rows: clamp(50px, 7vh, 90px)  max-content;
}
#Contact>.section-title{
     grid-row: 1 / 2;
     grid-column: 2 / 3;
}

   /* END GLOBAL STYLES*/