/* START GLOBAL STYLES*/
body {
    font-family: 'JetbrainsMono',monospace, helvetica, arial, sans;
    background-color: #174ea6;
    color:snow;
    overflow-x: hidden;
    max-width: 1800px;
   }

   section{
     height: min(100vh,2160px);
     min-width: 300px;

   }
   
html {
     scroll-behavior: smooth;
     scroll-padding-top: var(--scroll-padding, 250px);
}
 a,  
 a:visited {
     color:snow;
     font-weight: 500;
}
a:hover{
     font-weight: 700;
}
   /* END GLOBAL STYLES*/