/*START HOME SECTION STYLES*/
.home-div{
  display:grid;
  grid-template-columns: 0.75fr 1fr 1fr 1fr;
  grid-template-rows: 2.5fr 0.1fr 1fr;
/*   height: 100%; */

  @include border-box;

  font-size: var(--step-3);
  

}

.home-socials{

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  text-align: center;
  justify-content: space-evenly;
  font-size: var(--step-2);
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
}


/*TO REMOVE*/
.home-robot{
  height:0;
  width:80%;
  padding-bottom:80%;
  background-color:rgba(0, 85, 255, 0.284);
  z-index: -1;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: center;
  justify-self: center;
}
/*  */

.home-text{
  @include border-box;
  line-height: 7rem;
  letter-spacing: -0.05em;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 5;
  align-self: center;
  display:grid;
  grid-template-rows: 4fr 2fr 2fr;
  height: 100%;
}

.home-text-greeting{
  font-size: var(--step-6);
  font-weight: 800;
  line-height: 1.1;
  align-self:last baseline
}

.home-text-motto{
  font-size: var(--step-4);
  font-weight: 700;
  line-height: 1.2;
  justify-self: end;
}

.home-bottom-text{

  @include border-box;
  font-size: var(--step-2);
  font-weight: 500;
  line-height: 1.3;
  text-align: justify;
  @supports (text-justify:inter-word){
    text-justify:inter-word
  }
  letter-spacing: -0.02em;
  padding-inline: 10%;

}



/*SOCIAL SVGs*/
.github-svg{
  background-image: url(../assets/svg/github-142-svgrepo-com.svg);
  background-position: center; 
  background-size: contain; 
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 1.3rem;
  
}
.linkedin-svg{
  background-image: url(../assets/svg/linkedin-svgrepo-com.svg);
  background-position: center; 
  background-size: contain; 
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 1.5rem;
}
/* DOWN SVG */
.down-svg{
  background-image: url(../assets/svg/down-arrow-4-svgrepo-com.svg);
  background-position: center; 
  background-size: contain; 
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 1rem;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  place-self: center;
}
.down-svg a{
  text-decoration: none;
}
/*END HOME SECTION STYLES*/