/*START HOME SECTION STYLES*/
.home-div{
  width: 100%;
  max-height: 100vh;
  display:grid;
  grid-template-columns: 0.75fr 1fr 1fr minmax(60px,400px);
  grid-template-rows: 2.5fr minmax(60px,400px);

  font-size: var(--step-3);

}

.home-socials{

  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  display: flex;
  justify-content: space-around;
  align-self: center;
  font-size: var(--step-2);
}


/*TO REMOVE*/
.home-robot{
  height:0;
  width:70%;
  padding-bottom:70%;
  background-color:rgba(0, 85, 255, 0);
  z-index: -1;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: center;
  justify-self: center;
}
/*  */

.home-text{
  line-height: 7rem;
  letter-spacing: -0.05em;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 5;
  align-self: center;
  display:grid;
  grid-template-rows: 4fr 2fr 2fr;
  height: 100%;
}

.home-text-greeting{
  font-size: var(--step-6);
  font-weight: 800;
  line-height: 1.1;
  align-self:last baseline
}

.home-text-motto{
  font-size: var(--step-4);
  font-weight: 700;
  line-height: 1.2;
  justify-self: end;
}

.home-bottom-text{
  font-size: var(--step-2);
  font-weight: 500;
  line-height: 1.3;
  text-align: justify;
  @supports (text-justify:inter-word){
    text-justify:inter-word
  }
  letter-spacing: -0.02em;
  padding-inline: 10%;

}



/*SOCIAL SVGs*/
.github-svg{
  background-image: url(../assets/svg/github-142-svgrepo-com.svg);
  background-position: center; 
  background-size: contain; 
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 1.3rem;
  
}
.linkedin-svg{
  background-image: url(../assets/svg/linkedin-svgrepo-com.svg);
  background-position: center; 
  background-size: contain; 
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 1.5rem;
}
/* DOWN SVG */
.home-div .down-svg{
  grid-row: 2 / 3;
  grid-column: 1 / 5;
  justify-self: center;
  align-self: last baseline;
}
/*END HOME SECTION STYLES*/