:root {
    --swiper-pagination-bottom:6%;
    --swiper-navigation-top-offset:38%;
    @include for-tablet-landscape-down{
        --swiper-pagination-bottom:25%;
        --swiper-navigation-top-offset:33%;
    }
  }

  .swiper [class^="swiper-button-"]::after{
    content: "";
}

.swiper .swiper-pagination-bullet{
    width: 20px;
    height: 20px; 
    background-color: #fff;
    opacity: 0.3;

}

.swiper .swiper-pagination-bullet:hover{
    width: 22px;
    height: 22px; 
    opacity: 0.6; 
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 25px;
    height: 25px;
    opacity: 1;
    background-color: #8B5DF5; 
}


.projects-div {
    display: grid;
    grid-template-rows: minmax(350px, 650px) max-content;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.projects-div .down-svg {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: center;
    z-index: 10;
}

.arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    @include for-tablet-landscape-down{
        opacity: 1;
    }

}

.arrow:hover {
    opacity: 1;
}

.arrow-left {
    /* left: -25%; */

    @include for-tablet-portrait-down {
        /* left: 0; */
    }
}

.arrow-right {
    /* right: -25%; */

    @include for-tablet-portrait-down {
        /* right: 0; */
    }
}

.arrow-right svg {
    transform: rotate(180deg);
}
  /* fix arrows position */
  .swiper-button-next{
    right: 0%!important;

  }
  
  .swiper-button-prev{
    left: 0%!important;
}

.swiper-container{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;

}

.swiper{
/*     grid-row: 1 / 2;
    grid-column: 1 / 2; */
    width: 100%;
    height: 100%;
    top: 5%;
    overflow: visible;
  }


  .swiper-slide {
    @include for-tablet-landscape-down{
        width: 80%;
        height: 65%;
    }
    width: 40%;
    height: 85%;
    text-align: center;
    font-size: 18px;
    justify-content: center;
    align-items: center;
  }

  .project-card{
            /* From https://css.glass */
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        backdrop-filter: blur(1.0px);
        -webkit-backdrop-filter: blur(1.0px);
        border: 1px solid rgba(255, 255, 255, 1);

        display: grid;
        grid-template-areas: ". . . " ". p_media ." ". p_title ." ". p_description ." ". p_skills ." ". p_links ." ". . . ";
        grid-template-columns: 0.05fr 1fr 0.05fr;
        grid-template-rows: 0.25fr 4fr 1fr 1fr 1fr 1fr 0.25fr;
        place-items: center;
        @include for-tablet-landscape-down{
            grid-template-rows: 0.25fr 4fr 1fr 0.1fr 0.1fr 1fr 0.25fr;
        }
  }

  .project-media{
    grid-area: p_media;
  }
  .project-media img, .project-media video{

    display: block;
    height: min(300px,100%);
    width: min(480px,100%);

    max-height: 320px;
    max-width: 500px;


    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    object-fit: contain;
    object-position: bottom;
    

  }
  .project-skills{
    grid-area: p_skills;
    font-weight: 400;
    font-size: var(--step--0-5);
    @include for-tablet-landscape-down{
        display: none;
    }
  }
  .project-description{
    grid-area: p_description;
    font-weight: 500;
    font-size: var(--step-0-5);
    @include for-tablet-landscape-down{
        display: none;
    }

  }
  .project-links{
    grid-area: p_links;
    font-weight: 500;
    font-size: var(--step-0-5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
  }
  .project-title{
    grid-area: p_title;
    font-weight: 700;
    font-size: var(--step-2);
    @include for-tablet-landscape-down{
        font-size: var(--step-2-5);
    }
  }

.website-icon {

    -webkit-mask: url(../assets/svg/website-svgrepo-com.svg) no-repeat 100% 100%;
    mask: url(../assets/svg/website-svgrepo-com.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #fff;
    padding: 1rem;
    opacity: 0.8;
    @include for-tablet-landscape-down{
        padding: 1.2rem;
        opacity: 1;
    }
}

.website-icon:hover{

    opacity: 1;
}

.github-icon {

    -webkit-mask: url(../assets/svg/github-142-svgrepo-com.svg) no-repeat 100% 100%;
    mask: url(../assets/svg/github-142-svgrepo-com.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #fff;
    padding: 1rem;
    overflow: visible;
    opacity: 0.8;
    @include for-tablet-landscape-down{
        padding: 1.2rem;
        opacity: 1;
    }
}

.github-icon:hover{

    opacity: 1;
}

.gitlab-icon {
    -webkit-mask: url(../assets/svg/gitlab-svgrepo-com.svg) no-repeat 100% 100%;
    mask: url(../assets/svg/gitlab-svgrepo-com.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #fff;
    padding: 1rem;
    opacity: 0.8;
    @include for-tablet-landscape-down{
        padding: 1.2rem;
        opacity: 1;
    }
}
.gitlab-icon:hover{

    opacity: 1;
}

.library-icon {
    -webkit-mask: url(../assets/svg/library-svgrepo-com.svg) no-repeat 100% 100%;
    mask: url(../assets/svg/library-svgrepo-com.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #fff;
    padding: 1rem;
    opacity: 0.8;
    @include for-tablet-landscape-down{
        padding: 1.2rem;
        opacity: 1;
    }
}
.library-icon:hover{

    opacity: 1;
}

.youtube-icon {
    -webkit-mask: url(../assets/svg/youtube-svgrepo-com.svg) no-repeat 100% 100%;
    mask: url(../assets/svg/youtube-svgrepo-com.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #fff;
    padding: 1rem;
    opacity: 0.8;
    @include for-tablet-landscape-down{
        padding: 1.2rem;
        opacity: 1;
    }
}
.youtube-icon:hover{

    opacity: 1;
}