/*START SKILLS SECTION STYLES*/

.skills-programming-text{
    grid-area: one;
    font-size: var(--step-2);
  }
  .skills-programming-icons{
    grid-area: two;
    justify-self: center;
  }
  .skills-simulation-text{
    grid-area: three;
    font-size: var(--step-2);
  }
  .skills-simulation-icons{
    grid-area: four;
    justify-self: center;
  }
  .skills-modeling-text{
    grid-area: five;
    font-size: var(--step-2);
  }
  .skills-modeling-icons{
    grid-area: six;
    justify-self: center;
  }
  .skills-other-text{
    grid-area: seven;
    font-size: var(--step-2);
  }
  .skills-other-icons{
    grid-area: eight;
    justify-self: center;
  }
  .skills-planet{
    grid-area: nine;
    justify-self: center;
    
  }
  .skills-div{
    display: grid;
    gap: 2rem;
    grid-template-areas: 
    'one nine'
    'two nine'
    'three nine'
    'four nine'
    'five nine'
    'six nine'
    'seven nine'
    'eight nine';
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: left;
    font-weight: 500;
    font-size: var(--step-0);
    height: 100%;
  }
  
  .skills-planet{
    height:0;
    width:80%;
    padding-bottom:80%;
    background-color:rgba(0, 85, 255, 0.284);

  }
  /*END SKILLS SECTION STYLES*/