/*START SKILLS SECTION STYLES*/

.skills-div {
  display: grid;
  grid-template-areas: "cloud canvas" "downA downA";
  grid-template-columns: 1fr 0.6fr;
  grid-template-rows: 1fr max-content;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;

  @include for-tablet-landscape-down{
    grid-template-areas: "canvas" "cloud" "downA";
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr max-content;
  }
}

.skill-cloud{
  width: 100%;
  height: 500px;
  @include for-tablet-landscape-down{
    height: 400px;
  }
  grid-area: cloud;
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
}

.skill-canvas {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  grid-area: canvas;
}

.skills-div .down-svg {
  grid-area: downA;
  justify-self: center;
  align-self: last baseline;
}


.skill-cloud ul li a{
  font-size: var(--step-1);
  color:var(--color);
  cursor: pointer;
  display: block;
  position: relative;
  text-decoration: none;
}

.skill-cloud ul{
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  line-height: 2.75rem;
  width: 100%;
 
}

.skill-cloud ul a[data-weight="1"] { font-size: var(--step--1); }
.skill-cloud ul a[data-weight="2"] { font-size: var(--step-0);  }
.skill-cloud ul a[data-weight="3"] { font-size: var(--step-1);  }
.skill-cloud ul a[data-weight="4"] { font-size: var(--step-2);  }
.skill-cloud ul a[data-weight="5"] { font-size: var(--step-3);  }
.skill-cloud ul a[data-weight="6"] { font-size: var(--step-4);  }
.skill-cloud ul a[data-weight="7"] { font-size: var(--step-5);  }
.skill-cloud ul a[data-weight="8"] { font-size: var(--step-6);  }
.skill-cloud ul a[data-weight="9"] { font-size: var(--step-7);  }

.skill-cloud ul li a.programming-language{ --color: #fff;}
.skill-cloud ul li a.robotic-software{ --color: #4FDA55;}
.skill-cloud ul li a.modeling-software { --color: #c38;}
.skill-cloud ul li a.robotic-simulator{ --color: #8B5DF5;}

.skill-vloud ul a:focus {
  outline: 1px dashed;
}

.skill-cloud ul a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.3;
  transition: width 0.25s;
}

.skill-cloud ul a:focus::before,
.skill-cloud ul a:hover::before {
  width: 100%;
}
#shuffle-skill-cloud{

  border: 2px solid rgba(0, 0, 0, 0.6);
    background-image:none;
    background-color: #dadad3;
    padding: 4px;
    &:focus {
        outline: none;
    }
    color: black;
    font-size: var(--step-1);
    cursor: pointer;
    font-weight: 500;
    z-index: 10;
    margin: 10px;
}

#shuffle-skill-cloud:hover{
  background-color: #ffffff;
  transform: translateX(0) translateY(0);
}
#shuffle-skill-cloud:active{
  background: #d6d6d6;
  outline: none;
  transform: translateX(0.2rem) translateY(-0.2rem);

}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.skill-word{
  box-sizing: content-box;

  margin: 1.5vw;
}

/*END SKILLS SECTION STYLES*/