/* START UTILITY STYLES*/

/* @link https://utopia.fyi/type/calculator?c=300,11,1.2,1800,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--2: clamp(0.48rem, calc(0.45rem + 0.17vw), 0.63rem);
  --step--1: clamp(0.57rem, calc(0.52rem + 0.29vw), 0.84rem);
  --step-0: clamp(0.69rem, calc(0.60rem + 0.47vw), 1.13rem);
  --step-1: clamp(0.83rem, calc(0.69rem + 0.72vw), 1.50rem);
  --step-2: clamp(0.99rem, calc(0.79rem + 1.08vw), 2.00rem);
  --step-3: clamp(1.19rem, calc(0.89rem + 1.57vw), 2.66rem);
  --step-4: clamp(1.43rem, calc(1.00rem + 2.27vw), 3.55rem);
  --step-5: clamp(1.71rem, calc(1.11rem + 3.23vw), 4.74rem);
  --step-6: clamp(2.05rem, calc(1.20rem + 4.54vw), 6.31rem);
  --step-7: clamp(2.46rem, calc(1.27rem + 6.35vw), 8.41rem);

  /* Interpolated half steps */
  --step--1-5: clamp(0.525rem, calc(0.485rem + 0.23vw), 0.735rem);
  --step--0-5: clamp(0.63rem, calc(0.56rem + 0.38vw), 0.985rem);
  --step-0-5: clamp(0.76rem, calc(0.645rem + 0.595vw), 1.315rem);
  --step-1-5: clamp(0.91rem, calc(0.74rem + 0.90vw), 1.75rem);
  --step-2-5: clamp(1.01rem, calc(0.84rem + 1.325vw), 2.33rem);
}


.flex{
    display: flex;
    gap: var(--gap, 3rem);
  }
  
  .sr-only:not(:focus):not(:active) {
    /* clip: rect(0 0 0 0); */ 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  
  .resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }
  
  .high-l1{
    color: #8B5DF5;
  }
  
  .high-l2{
    color: #4FDA55;
  }
  
  .grid-col-span-2{
    grid-column: span 2;
  }

  .down-svg{
  
    background-image: url(../assets/svg/down-arrow-4-svgrepo-com.svg);
    background-position: center; 
    background-size: contain; 
    background-repeat: no-repeat;
    padding: 20px;
    margin-top: 5px;
    animation: goDown 1s infinite  alternate;
    animation-play-state: paused;
    text-decoration: none;
  }
  
  .down-svg:hover{
    animation-play-state: running;
  }
  
  @keyframes goDown {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }
/* END UTILITY STYLES*/