<div class="contact-div">
    <div class="contact-socials">
        <div class="email-contact">
            <a class="mail-svg" href="mailto:francisco.vpg@gmail.com" target="_blank" alt="My email"></a>
            <a class="contact-socials-text" href="mailto:francisco.vpg@gmail.com" target="_blank"> francisco.vpg@gmail.com</a>
        </div>
        <div class="github-contact">
            <a class="github-svg" href="https://github.com/PlatHum" target="_blank" alt="Github Icon"></a>
            <a class="contact-socials-text" href="https://github.com/PlatHum" target="_blank"> @PlatHum</a>
        </div>
        <div class="linkedin-contact">
            <a class="linkedin-svg" href="https://www.linkedin.com/in/franciscovpg/" target="_blank"
                alt="Linkedin Icon"></a>
            <a class="contact-socials-text" href="https://www.linkedin.com/in/franciscovpg/"
                target="_blank">@franciscovpg</a>

        </div>
    </div>
    <div class="contact-form">
        <div class="form-header">SEND ME AN EMAIL</div>
        <form class="form-body">
            <input class="form-body-email" type="email" name="email" placeholder="Your Email Address"
                autocomplete="off" required>
            <textarea class="form-body-message" name="message" placeholder="Enter Message"
                autocomplete="off" required></textarea>
            <button class="form-body-submit" type="submit">SEND</button>
        </form>
    </div>
</div>