<div class="education-container">
    <div class="timeline-card education-bachelor">
        <div class="timeline-card-icon">
            <a href="https://tecnico.ulisboa.pt/en/education/courses/undergraduate-programmes/mechanical-engineering/"
            target="_blank" alt="Go to IST Mechanical Engineering Undergraduate page">
                <div class="ist-logo"></div>
            </a>
        </div>
        <div class="timeline-card-content">
            <div class="education-time-interval">
                Sep 2017 - Aug 2020
            </div>
            <div class="education-institution">
                Instituto Superior Técnico, University of Lisbon
            </div>
            <div class="education-degree">
                Bachelor's Degree
            </div>
            <div class="education-course">
                Mechanical Engineering
            </div>
        </div>
    </div>
    <div class="timeline-card education-master">
        <div class="timeline-card-icon">
            <a href="https://tecnico.ulisboa.pt/en/education/courses/masters-programmes/mechanical-engineering/"
            target="_blank" alt="Go to IST Mechanical ENgineering Graduate page">
                <div class="ist-logo"></div>
            </a>
        </div>
        <div class="timeline-card-content">
            <div class="education-time-interval">
                Sep 2020 - Dec 2022
            </div>
            <div class="education-institution">
                Instituto Superior Técnico, University of Lisbon
            </div>
            <div class="education-degree">
                Master's Degree
            </div>
            <div class="education-course">
                Mechanical Engineering
            </div>
            <div class="education-specialization">
                Systems
            </div>
        </div>
    </div>
    <div class="timeline-card education-iefp">
        <div class="timeline-card-icon">
            <a href="https://www.iefp.pt/" target="_blank" alt="Go to IEFP page">
                <div class="iefp-logo"></div>
            </a>
        </div>
        <div class="timeline-card-content">
            <div class="education-time-interval">
                Apr 2023 - Jul 2023
            </div>
            <div class="education-institution">
                Intituto do Emprego e Formação Profissional
            </div>
            <div class="education-course">
                UX/UX Design
            </div>
        </div>
    </div>
    <a class="down-svg" href="#Work" alt="Arrow pointing down to next section">&nbsp;</a>
</div>