<div class="education-container">
    <div class="timeline-card education-bachelor">
        <div class="timeline-card-icon">
            <div class="ist-logo">            </div>
        </div>
        <div class="timeline-card-content">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod natus laudantium, optio atque placeat eveniet recusandae alias! Nostrum provident, debitis adipisci praesentium quae ad, sapiente sequi, magnam deleniti vero ipsam!
        </div>
    </div>
    <div class="timeline-card education-master">
        <div class="timeline-card-icon">
            <div class="ist-logo">            </div>
        </div>
        <div class="timeline-card-content">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod natus laudantium, optio atque placeat eveniet recusandae alias! Nostrum provident, debitis adipisci praesentium quae ad, sapiente sequi, magnam deleniti vero ipsam!
        </div>
    </div>
    <div class="timeline-card education-iefp">
        <div class="timeline-card-icon">
            <div class="iefp-logo">            </div>
        </div>
        <div class="timeline-card-content">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod natus laudantium, optio atque placeat eveniet recusandae alias! Nostrum provident, debitis adipisci praesentium quae ad, sapiente sequi, magnam deleniti vero ipsam!
        </div>
    </div>

</div>