<header class="header flex">

  <a href="#" class="header-logo" aria-label="Logo with a handrawn Capybara">&nbsp;&nbsp;&nbsp;&nbsp;</a>

  <button class="mobile-nav-toggle" aria-controls="header-nav" aria-expanded="false">
    <span class="sr-only">Menu</span>
  </button>
  <nav>
    <ul id="header-nav" data-visible="false" class="header-nav flex">
      <li>
        <a href="#Home" active="false"><span aria-hidden="true">00</span><span
            class="header-space">&nbsp;</span>Home</a>
      </li>
      <li>
        <div class="header-dropdown-option">
          <a href="#About" active="false"><span aria-hidden="true">01</span><span
              class="header-space">&nbsp;</span>About</a>
          <ul>
            <li><a href="#Skills" active="false"><span aria-hidden="true">01.1</span><span
                  class="header-space">&nbsp;</span>Skills</a></li>
            <li><a href="#Education" active="false"><span aria-hidden="true">01.2</span><span
                  class="header-space">&nbsp;</span>Education</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="header-dropdown-option">
          <a href="#Experience" active="false"><span aria-hidden="true">02</span><span
              class="header-space">&nbsp;</span>Experience</a>
          <ul>
            <li><a href="#Work" active="false"><span aria-hidden="true">02.1</span><span
                  class="header-space">&nbsp;</span>Work</a></li>
            <li><a href="#Projects" active="false"><span aria-hidden="true">02.2</span><span
                  class="header-space">&nbsp;</span>Projects</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#Contact" active="false"><span aria-hidden="true">03</span><span
            class="header-space">&nbsp;</span>Contact</a>
      </li>
    </ul>
  </nav>
</header>