<header class="header flex">
  <a href="#Home" class="header-logo">Logo</a>
  <button class="mobile-nav-toggle"  aria-controls="header-nav" aria-expanded="false">
      <span class="sr-only">Menu</span>
  </button> 
  <nav>
    <ul id="header-nav" data-visible="false" class="header-nav flex">
      <li>
        <a href="#Home"><span aria-hidden="true">00</span>Home</a>
      
      <li>
        <a href="#About"><span aria-hidden="true">01</span>About</a>
      
      <li>
        <a href="#Experience"><span aria-hidden="true">02</span>Experience</a>
      
      <li>
        <a href="#Contact"><span aria-hidden="true">03</span>Contact</a>
      
    </ul>
  </nav>
</header>
