<div class="home-div">
    <div class="home-robot">
      <div class="home-robot-text">
        
      </div>
    </div>
    <div class="home-text">

        <div class="home-text-greeting"> Hi, I'm <span class="high-l1">Francisco</span></div>
        <div class="home-text-motto"> I build and develop robots</div>

        <div class="home-bottom-text">
          <p> I'm a <span class="high-l2">Mechanical</span> Engineer with a master's degree
                specializing in <span class="high-l2"> Systems</span>
                and a passion for <span class="high-l2">Robotics</span>.
           </p>
        </div>
    </div>
    <div class="home-socials">
      <div class="home-social-group">
        <a class="github-svg" href="https://github.com/PlatHum" target="_blank" alt="Github Icon"></a>
        <a class="home-socials-text" href="https://github.com/PlatHum" target="_blank">@PlatHum</a>     
      </div>
      <div class="home-social-group">
        <a class="linkedin-svg" href="https://www.linkedin.com/in/franciscovpg/" target="_blank" alt="Linkedin Icon"></a>
        <a class="home-socials-text" href="https://www.linkedin.com/in/franciscovpg/" target="_blank">@franciscovpg</a> 
      </div>
    </div>
</div>