<div class="home-div">
    <div class="home-bot">
         I'll be a robot someday.
    </div>
    <div class="home-text">
        <div class="home-top-text">
          <p> Hi, I'm <span class="high-l1">Francisco</span>.</p>
        
          <p> I build and develop robots.</p>

        </div>
        <div class="home-bottom-text">
          <p> I'm a <span class="high-l2">Mechanical</span> Engineer with a master's degree
                specializing in <span class="high-l2"> Systems</span>
                and a passion for <span class="high-l2">Robotics</span>.
           </p>
        </div>
    </div>

</div>