<div class="skills-div">
    <div class="skills-programming-text">Programming Languages</div>
    <div class="skills-programming-icons">
        <div id="cpp_canvas"></div>
        <div id="python_canvas"></div>
        <div id="html_css_canvas"></div>
        <div id="js_canvas"></div>
    </div>
    <div class="skills-simulation-text">Robotics Simulation Software</div>
    <div class="skills-simulation-icons">
        <div id="gazebo_canvas"></div>
        <div id="isaac_canvas"></div>
    </div>
    <div class="skills-modeling-text">3D Modeling Software</div>
    <div class="skills-modeling-icons">
        <div id="solidworks_canvas"></div>
        <div id="blender_canvas"></div>
    </div>
    <div class="skills-other-text">Other Robotics-related Software</div>
    <div class="skills-other-icons">
        <div id="ros_canvas"></div>
        <div id="microros_canvas"></div>
    </div>
    <div class="skills-planet">
        <div>

        </div>
    </div>
    <a class="down-svg" href="#Education" alt="Arrow pointing down to next section">&nbsp;</a>
</div>