<div class="skills-div">
    <div class="skills-programming-text">Programming Languages</div>
    <div class="skills-programming-icons"></div>
    <div class="skills-simulation-text">Robotics Simulation Software</div>
    <div class="skills-simulation-icons"></div>
    <div class="skills-modeling-text">3D Modeling Software</div>
    <div class="skills-modeling-icons"></div>
    <div class="skills-other-text">Other Robotics-related Software</div>
    <div class="skills-other-icons"></div>
    <div class="skills-planet">
        <div>

        </div>
    </div>
    <a class="down-svg" href="#Education" alt="Arrow pointing down to next section">&nbsp;</a>
</div>