<div class="skills-div">
    <div class="skills-text">Programming Languages</div>
    <div class="skills-icons">C++ Python JavaScript</div>
    <div class="skills-text">Robotics Simulation Software</div>
    <div class="skills-icons">GazeboSim IsaacSim</div>
    <div class="skills-text">3D Modeling Software</div>
    <div class="skills-icons">SolidWorks Blender</div>
    <div class="skills-text">Other Robotics-related Software</div>
    <div class="skills-icons">ROS MATLAB GIT MICRO-ROS</div>
    <div class="skills-planet"></div>
</div>