<div class="work-div">
  <div class="work-blob work-ist">
    <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      width="100%">
      <defs>
        <linearGradient id="gradient-ist" gradientTransform="rotate(45 .5 .5)">
          <stop offset="0%" stop-color="#018edb" />
          <stop offset="100%" stop-color="#D9DDDC" />
        </linearGradient>
        <filter id="glow-effect-ist">
          <feGaussianBlur in="SourceGraphic" stdDeviation="4" result="blur" />
          <feMerge>
            <feMergeNode in="blur" />
            <feMergeNode in="SourceGraphic" />
          </feMerge>
        </filter>
      </defs>
      <g class="work-svg-group-ist">
        <path fill="url(#gradient-ist)"
          d="M463.5,284Q438,318,423,350.5Q408,383,388,418.5Q368,454,328.5,464Q289,474,249,477.5Q209,481,177,456.5Q145,432,106.5,417.5Q68,403,50.5,366Q33,329,33.5,289.5Q34,250,33,210.5Q32,171,55,138Q78,105,108.5,81.5Q139,58,175,44Q211,30,252,18Q293,6,331.5,24.5Q370,43,401,70Q432,97,436,139Q440,181,464.5,215.5Q489,250,463.5,284Z">
        </path>
        <a xlink:href="https://tecnico.ulisboa.pt/en/" target="_blank" alt="Link to the University's page">
          <image xlink:href="assets/png/IST-color.png" x="200" y="50" width="100" height="100"
            preserveAspectRatio="xMinYMax"></image>
        </a>
        <a xlink:href="https://fenix.tecnico.ulisboa.pt/disciplinas/AInd/2021-2022/2-semestre/objectivos"
          target="_blank" alt="Link to the course's page">
          <text x="250" y="160" text-anchor="middle" dominant-baseline="middle" fill="#FFF" class="job-title">
            <tspan x="250" dy="1em" lengthAdjust="spacingAndGlyphs">
              Industrial Automation
            </tspan>
            <tspan x="250" dy="1em" lengthAdjust="spacingAndGlyphs">
              Teaching Assistant
            </tspan>
          </text>
        </a>
        <a xlink:href="https://dem.tecnico.ulisboa.pt/en/about" target="_blank" alt="Link to DEM website">
          <text x="250" y="250" text-anchor="middle" dominant-baseline="middle" fill="#FFF" class="job-company">
            <tspan x="250" dy="1.2em" lengthAdjust="spacingAndGlyphs">
              Mechanical Engineering Dpt.
            </tspan>
            <tspan x="250" dy="1.2em" lengthAdjust="spacingAndGlyphs">
              Instituto Superior Técnico
            </tspan>
          </text>
        </a>
        <text x="250" y="340" text-anchor="middle" dominant-baseline="middle" fill="#FFF" class="job-duration">
          <tspan dy="1em" lengthAdjust="spacingAndGlyphs">
            March 2022 - July 2022
          </tspan>
        </text>
      </g>

    </svg>
  </div>

  <div class="work-blob work-fst">
    <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      width="100%">
      <defs>
        <linearGradient id="gradient-fst" gradientTransform="rotate(30 .5 .5)">
          <stop offset="0%" stop-color="#6284FF" />
          <stop offset="100%" stop-color="red" />
        </linearGradient>
        <filter id="glow-effect-fst">
          <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
          <feMerge>
            <feMergeNode in="blur" />
            <feMergeNode in="SourceGraphic" />
          </feMerge>
        </filter>
      </defs>
      <g class="work-svg-group-fst">
        <path fill="url(#gradient-fst)"
          d="M475,300Q458,350,420,382.5Q382,415,341.5,444.5Q301,474,250.5,471Q200,468,156.5,444.5Q113,421,74.5,387Q36,353,33,301.5Q30,250,47,205Q64,160,84,113.5Q104,67,150.5,42Q197,17,247.5,29Q298,41,339,64Q380,87,407.5,124Q435,161,463.5,205.5Q492,250,475,300Z">
        </path>
        <a xlink:href="https://www.fstlisboa.com" target="_blank" alt="Link to Formula Student Lisboa website">
          <image xlink:href="assets/webp/fst.webp" x="200" y="50" width="100" height="100"
            preserveAspectRatio="xMinYMax"></image>
        </a>
        <a xlink:href="https://www.fstlisboa.com/fst-11#comp-l3ylid4g1__17712dec-f032-49b5-9b70-46af087260e0"
          target="_blank" alt="Link to my name on the team's website">
          <text x="250" y="160" text-anchor="middle" dominant-baseline="middle" fill="#FFF" class="job-title">
            <tspan x="250" dy="1em" lengthAdjust="spacingAndGlyphs">
              Autonomous Systems
            </tspan>
            <tspan x="250" dy="1em" lengthAdjust="spacingAndGlyphs">
              Software Developer
            </tspan>
          </text>
        </a>
        <a xlink:href="https://www.fstlisboa.com" target="_blank" alt="Link to Formula Student Lisboa website">
          <text x="250" y="250" text-anchor="middle" dominant-baseline="middle" fill="#FFF" class="job-company">
            <tspan dy="1em" lengthAdjust="spacingAndGlyphs">
              Formula Student Lisboa
            </tspan>
            <tspan x="250" dy="1em" lengthAdjust="spacingAndGlyphs">
              Instituto Superior Técnico
            </tspan>
          </text>
        </a>
        <text x="250" y="340" text-anchor="middle" dominant-baseline="middle" fill="#FFF" class="job-duration">
          <tspan dy="1em" lengthAdjust="spacingAndGlyphs">
            October 2021 - September 2022
          </tspan>
        </text>
      </g>
    </svg>
  </div>

  <div class="work-blob work-cmu">
    <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      width="100%">
      <defs>
        <linearGradient id="gradient-cmu" gradientTransform="rotate(75 .5 .5)">
          <stop offset="0%" style="stop-color: rgb(189, 172, 178);"></stop>
          <stop offset="100%" style="stop-color: #c51230;"></stop>
        </linearGradient>
        <filter id="glow-effect-cmu">
          <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
          <feMerge>
            <feMergeNode in="blur" />
            <feMergeNode in="SourceGraphic" />
          </feMerge>
        </filter>
      </defs>
      <g class="work-svg-group-cmu">
        <path fill="url(#gradient-cmu)"
        d="M455.5,301.5Q445,353,411.5,394Q378,435,326.5,444.5Q275,454,218.5,468.5Q162,483,122,440.5Q82,398,67.5,348Q53,298,39,246.5Q25,195,44,140Q63,85,116,60.5Q169,36,222,38.5Q275,41,324,56.5Q373,72,400,114.5Q427,157,446.5,203.5Q466,250,455.5,301.5Z">
        </path>
        <a xlink:href="https://www.cmu.edu/" target="_blank" alt="Link to CMU website">
          <image xlink:href="assets/png/cmu-wordmark-stacked-r.png" x="200" y="50" width="100" height="100"
            preserveAspectRatio="xMinYMax"></image>
        </a>

          <text x="250" y="160" text-anchor="middle" dominant-baseline="middle" fill="#FFF" class="job-title">
            <tspan x="250" dy="1em" lengthAdjust="spacingAndGlyphs">
              Field Robotics Center
            </tspan>
            <tspan x="250" dy="1em" lengthAdjust="spacingAndGlyphs">
              Collaborating Visitor
            </tspan>
          </text>

        <a xlink:href="https://www.ri.cmu.edu/" target="_blank" alt="Link to Robotic Institute website">
          <text x="250" y="250" text-anchor="middle" dominant-baseline="middle" fill="#FFF" class="job-company">
            <tspan dy="1em" lengthAdjust="spacingAndGlyphs">
              Robotics Institute
            </tspan>
            <tspan x="250" dy="1em" lengthAdjust="spacingAndGlyphs">
              Carnegie Mellon University
            </tspan>
          </text>
        </a>
        <text x="250" y="340" text-anchor="middle" dominant-baseline="middle" fill="#FFF" class="job-duration">
          <tspan dy="1em" lengthAdjust="spacingAndGlyphs">
            September 2023 - December 2023
          </tspan>
        </text>
      </g>
    </svg>
  </div>
  <a class="down-svg" href="#Projects" alt="Arrow pointing down to next section">&nbsp;</a>
</div>