<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> PlatHum's Portfolio</title>
  <link rel="shortcut icon" type="image/svg+xml" href="/assets/svg/Caybara-Logo-icon.svg"/>
  <link rel="stylesheet" href="css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;600;700;800&display=swap" rel="stylesheet">
  <script src="assets/js/header_nav.js" defer></script>  
  <meta charset="utf-8">
</head>
  
<body ontouchstart="">
   
  {% include header.html %}
  <div class="content">
    <section id="Home">
      {% include home.html %}
    </section>
    <div class="ribbon-title" id="TitleAbout">//ABOUT</div>
    <section id="About">
<!--       <div class="ribbon-subtitle" id="SubTitleSkills">SKILLS</div> -->
        <section id="Skills">
          {% include skills.html %}
        </section>
<!--       <div class="ribbon-subtitle" id="SubTitleEducation">EDUCATION</div> -->
        <section id="Education">
          {% include education.html %}
        </section>
    </section>
    <div class="ribbon-title" id="TitleExperience">//EXPERIENCE</div>
    <section id="Experience">
<!--       <div class="ribbon-subtitle" id="SubTitleWork">Work</div> -->
      <section id="Work">
        {% include work.html %}
      </section>
<!--       <div class="ribbon-subtitle" id="SubTitleProjects">Projects</div> -->
      <section id="Projects">
        {% include projects.html %}
      </section>
    </section>
    <div class="ribbon-title" id="TitleContact">//CONTACT</div>
    <section id="Contact"> Hello</section>
</div>


  <script src="assets/js/no_animation.js" defer></script>
  <script src="assets/js/carousel.js" defer></script>

</body>
</html>
